name: Go Test & Coverage

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"

permissions:
  contents: read
  checks: write

jobs:
  manual_test:
    if: github.event_name == 'workflow_dispatch'
    name: Manual tests (requires approval)
    runs-on: ubuntu-latest
    environment:
      name: tests
    steps:
      - name: Run repo test action
        uses: ./.github/actions/run-tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test:
    name: Pull-request tests
    runs-on: ubuntu-latest
    steps:
      - name: Run repo test action
        uses: ./.github/actions/run-tests
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
